[submodule "Inputs/Suska_Configware"]
	path = Inputs/Suska_Configware
	url = https://github.com/MelkhiorVintageComputing/Suska_Configware.git
[submodule "Inputs/z8530_scc"]
	path = Inputs/z8530_scc
	url = https://github.com/vz50938/z8530_scc
[submodule "Inputs/Wish82586"]
	path = Inputs/Wish82586
	url = https://github.com/MelkhiorVintageComputing/Wish82586.git
[submodule "Inputs/sunos-34-src"]
	path = Inputs/sunos-34-src
	url = https://github.com/calmsacibis995/sunos-34-src
[submodule "Inputs/doc/QM_XC7A100T_WUKONG_BOARD"]
	path = Inputs/doc/QM_XC7A100T_WUKONG_BOARD
	url = https://github.com/ChinaQMTECH/QM_XC7A100T_WUKONG_BOARD
[submodule "Inputs/hdmi"]
	path = Inputs/hdmi
	url = https://github.com/hdl-util/hdmi
[submodule "Inputs/Wish5380"]
	path = Inputs/Wish5380
	url = https://github.com/MelkhiorVintageComputing/Wish5380.git
[submodule "Inputs/RD68011"]
	path = Inputs/RD68011
	url = https://github.com/MelkhiorVintageComputing/RD68011.git
[submodule "Inputs/BrianHG-DDR3"]
	path = Inputs/BrianHG-DDR3
	url = https://github.com/BrianHGinc/BrianHG-DDR3-Controller.git
[submodule "Inputs/doc/DECA_board"]
	path = Inputs/doc/DECA_board
	url = https://github.com/DECAfpga/DECA_board
